<mat-toolbar color="primary">
    Service Track
</mat-toolbar>

<div class="register-flex">
    <mat-card>
        <div class="register-card">
            <div id="system-register">
                <h2>Bem vindo ao Service Track</h2>

                <p>Registre-se para acessar e começar a cadastrar serviços</p>

            </div>
            <div>
                <form [formGroup]="formRegister" (ngSubmit)="registerUser()" style="display: flex; flex-direction: column; padding: 16px;">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput placeholder="exemplo@provedor.com">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <input formControlName="password" matInput [type]="hide() ? 'password' : 'text'" />
                        <button mat-icon-button matSuffix (click)="clickEvent($event)"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <button color="primary" mat-flat-button>
                        Cadastrar
                    </button>
                </form>
            </div>
        </div>
    </mat-card>
</div>