<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/service-list"><mat-icon>arrow_back</mat-icon></button>
</mat-toolbar>
<form [formGroup]="formRegisterUser" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; padding: 16px;">
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput placeholder="Seu nome">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Empresa</mat-label>
        <input formControlName="companyName" matInput placeholder="Nome da empresa" />
        
    </mat-form-field>
    <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input formControlName="phone" matInput placeholder="Fone" />
        
    </mat-form-field>

    <button color="primary" mat-flat-button>
        Cadastrar
    </button>